body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 25px;
  height: 300px;
  width: 600px;
  font: 50px Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
.footer {
  display: flex;
  margin-top: auto;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}
.footer-content {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
