body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  width: 100%;
}
.table {
  height: 100%;
  width: 100%;
}
.footer {
  display: flex;
  margin-top: auto;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}
.footer-content {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
