body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 5px solid black;
  border-radius: 25px;
  height: 300px;
  width: 600px;
  font: 50px Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
.text-colose {
  position: absolute;
  top: 140px;
  width: 45px;
  height: 116px;
  border: 10px solid red;
  border-radius: 50px;
  font-size: 96px;
}
.footer {
  display: flex;
  margin-top: auto;
  background-color: blue;
  height: 90px;
  color: white;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}
.footer-content {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
